<div class="ose game-license">
  <p class="ose game-license">
    This unofficial system requires the Rules Cyclopedia that
    you can find <a href="https://www.drivethrurpg.com/product/17171/DD-Rules-Cyclopedia-Basic">here</a>.
  </p>
  <p>
    Rules Cyclopedia is a trademark of Wizards of the Coast.
  </p>
  </a>
  </div>
  <div class="footer">
      Report your issues on <a href="phillgamboa@gmail.com">E-mail</a>
  </div>
</div>
