<form class="{{cssClass}}" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header flexrow">
    {{> "systems/rulescyclopedia/templates/actors/partials/monster-header.html"}}
  </header>

  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="attributes">
      {{localize "OSE.category.attributes"}}
    </a>
    {{#if data.config.enableInventory}}
    <a class="item" data-tab="inventory">
      {{localize "OSE.category.inventory"}}
    </a>
    {{/if}}
    {{#if data.spells.enabled}}
    <a class="item" data-tab="spells">
      {{localize "OSE.category.spells"}}
    </a>
    {{/if}}
    <a class="item" data-tab="notes">
      {{localize "OSE.category.notes"}}
    </a>
  </nav>
  {{! Sheet Body }}
  <section class="sheet-body">
    {{! Attributes Tab }}
    <div class="tab" data-group="primary" data-tab="attributes">
      {{> "systems/rulescyclopedia/templates/actors/partials/monster-attributes-tab.html"}}
    </div>
    {{#if data.config.enableInventory}}
    <div class="tab" data-group="primary" data-tab="inventory">
    {{> "systems/rulescyclopedia/templates/actors/partials/character-inventory-tab.html"}}
    </div>
    {{/if}}
    {{#if data.spells.enabled}}
    <div class="tab" data-group="primary" data-tab="spells">
      {{> "systems/rulescyclopedia/templates/actors/partials/character-spells-tab.html"}}
    </div>
    {{/if}}
    <div class="tab" data-group="primary" data-tab="notes">
      <div class="inventory">
        <div class="item-titles">{{localize "OSE.category.notes"}}</div>
        <div class="resizable-editor" data-editor-size="320">
          {{editor content=data.details.biography target="data.details.biography"
          button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>
  </section>
</form>